 l-dev
 *.o
 *.hi
 *.chi
 *.chs.h
 *.dyn_o
 *.dyn_hi
 .hpc
 .hsenv
 .cabal-sandbox/
 cabal.sandbox.config
 *.prof
 *.aux
 *.hp
 *.swp
 doc/**
 vandelay
 App/**/*.o
 App/**/*.hi
 dist
 dist/**/*
 MAKE.sh
